
.container-todo{
    width: 300px;
    height: 500px;
    background-color: #f6f8fa;
    margin: 20px;
    border: 1px solid silver;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.circle-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    height: 50px;
    width: 80px;
    margin-left: 10px;
}

.circle{
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #E4E7EA ;
display: flex;
justify-content: center;
align-items: center;

}

.plus{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.todo{
    text-align: left;
    font-weight: bold;
}